<h1>Kursusetoo</h1>

<p>
This application content: homepage, contactpage, aboutpage, news page.
 Please insert the button to Login
  
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>


